body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  background: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register{
  background: #f2f2f2;
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:10px;
}

.reg-head{
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  color: black;
}

.form{
  background: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  max-width: 420px;
  padding: 45px;
}

.form input{
  font-family: sans-serif;
  background: #ffffff;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 15px;
}

.form button{
  font-family: sans-serif;
  text-transform: uppercase;
  background: #262626;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover{
  background: grey;
}
button:hover{
  border-color: blue;
}
.responsive-image{
  width:30%;
  height: 30%;
  margin-top:40px;
}

@media only screen and (min-width: 569px) and (max-width: 767px){
  .responsive-image{
  display: none;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    width: 360px;
    padding: 2px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 568px){
  .responsive-image{
  display: none;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    width: 290px;
    padding: 10px;
  }
}
