body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  margin:0;
  padding: 0;
  background: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.register{
  background: #f2f2f2;
  min-width:100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reg-head{
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  color: black;
}

.form{
  background: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  padding: 45px;
}

.form input{
  font-family: sans-serif;
  background: #ffffff;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 15px;
}

.form button{
  font-family: sans-serif;
  text-transform: uppercase;
  background: #262626;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover{
  background: grey;
  border-color: blue;
}

.responsive-image{
  width:30%;
  height: 30%;
  margin-top:40px;
}

/*
.tracking-form{
  background: #f2f2f2;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  padding: 45px;
}

.tracking-form .control-no-input{
  font-family: sans-serif;
  background: #ffffff;
  width: 100%;
  border: none;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 15px;
}

.tracking-form .tracking-search-button{
  font-family: sans-serif;
  text-transform: uppercase;
  background: #262626;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}

.tracking-form .tracking-search-button:hover{
  background: grey;
}

*/
.Toolbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #262626;
  height: 56px;
  z-index: 1;
}

.Toolbar-Navigation{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 0.5rem 0 0rem;
}

.Toolbar-Logo{
  margin-left: 1rem;
}

.Toolbar-Logo a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

.Spacer{
  flex: 1;
}

.Toolbar-Navigation-Items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.Toolbar-Navigation-Items li{
  padding: 0 0.5rem;
}
.Toolbar-Navigation-Items a{
  color: #ffffff;
  text-decoration: none;
}
.Toolbar-Navigation-Items a:hover,
.Toolbar-Navigation-Items a:active{
  color: #fa9237;
}
.Spacing{
  flex: 1;
  margin: 17px;
}
.Spacer{
  flex: 1;
}
.Mssg {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  animation:
    typing 3.5s steps(40, end);
    transition: 0.5s ease;
}

/* The typing effect */

@keyframes typing {
  from { width : 0% }
  to { width: 3% }
}



@media only screen and (min-width: 569px) and (max-width: 767px){
  .responsive-image{
  display: none;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    width: 360px;
    padding: 2px;
    padding-bottom:30px;
  }
}

@media only screen and (min-width: 240px) and (max-width: 568px){
  .responsive-image{
  display: none;
  }
  .form{
    margin: 0 auto;
    text-align: center;
    width: 90%;
    padding: 10px;
    padding-bottom:30px;
  }
  .Mssg {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    animation:
      typing 3.5s steps(40, end);
      transition: 0.5s ease;
  }

  /* The typing effect */

  @keyframes typing {
    from { width : 0% }
    to { width: 14% }
  }
}

.MuiTabs-flexContainer{
  margin-top:32px;
}
