#dashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}


#dashboard .jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:10px;
    padding-bottom:10px;
    background-color: rgba(233, 236, 239,0.9)
}

#dashboard .btn{
    margin-top:8px;
    margin-bottom:8px;
}

#dashboard img{
    margin-top:8px;
    margin-bottom:8px;
}
