#manageemployees{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#addbutton{
    margin-top:20px;
    margin-bottom:30px;
}

#manageheading{
    margin-top:30px;
    margin-bottom: 15px;
}